:root {
  --mode-swap: 0.5s ease;
  --bgr: #131313;
  --acc: #ccc;
}

/* shared traits */

* {
  box-sizing: border-box;
  backface-visibility: hidden;
}

html,
body {
  height: 100vh;
  /* use dvh if available */
  height: 100dvh;
  cursor: none !important;
  overscroll-behavior: none;
}

c-cursor,
c-cursor::after,
body::before,
body::after,
nav,
header,
main,
c-buttons::after,
button::before,
button::after,
c-screen,
c-screen::before,
c-reflection,
c-reflection::before,
c-reflection::after,
li::after,
footer,
c-control::before {
  position: absolute;
}

body::before,
c-cursor,
c-cursor::after,
main,
button::before,
button::after,
c-reflection::before,
c-reflection::after,
c-screen[reflection] {
  inset: 0;
}

body::after,
c-screen,
c-cursor::after,
c-reflection,
ul {
  contain: strict;
}

body::before,
body::after,
c-cursor::after,
c-buttons::after,
button::before,
button::after,
c-screen::before,
c-reflection::before,
c-reflection::after,
li::before,
li::after,
c-control::before,
c-control::after {
  content: "";
  box-sizing: border-box;
  backface-visibility: hidden;
}

button,
c-screen,
c-control {
  pointer-events: auto;
}

c-cursor,
body::before,
body::after,
c-scene,
c-screen[reflection],
footer,
c-control::before,
c-control[hide] {
  pointer-events: none;
}

c-cursor,
c-scene,
c-room,
main {
  contain: layout size;
}

body,
c-screen,
ul {
  overflow: hidden;
}

body,
c-scene {
  display: grid;
  place-content: center;
}

/* outer elements */

body {
  margin: 0;
  font-family: "Manrope";
  text-rendering: optimizeSpeed;
  color: var(--acc);
  background-color: var(--bgr);
  transition: background-color var(--mode-swap);
  user-select: none;
  /* for safari */
  -webkit-user-select: none;
}

body::before {
  z-index: 2;
  display: grid;
  place-content: center;
  background-color: var(--bgr);
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease 1s, visibility 1s ease 1s;
}

@keyframes noise {
  0% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(-64px, -128px, 0);
  }
  100% {
    transform: translate3d(-128px, -64px, 0);
  }
}

body::after {
  z-index: 1;
  inset: 0 auto auto 0;
  width: calc(100% + 128px);
  height: calc(100% + 128px);
  background-image: url("images/noise_overlay.webp");
  background-size: 1200px auto;
  animation: 0.25s noise steps(3) infinite;
}

.light-mode {
  --bgr: #ccc;
  --acc: #151515;
}

.overlay,
.performance-mode {
  --mode-swap: 0s linear;
}

.overlay::before {
  opacity: 1;
  visibility: visible;
}

.performance-mode::after {
  animation: none;
  display: none;
}

/* cursor */

c-cursor {
  will-change: opacity;
  width: 10px;
  height: 10px;
  mix-blend-mode: exclusion;
  opacity: 1;
}

c-cursor[hide] {
  opacity: 0;
}

c-cursor::after {
  will-change: transform;
  border-radius: 50%;
  background-color: #ccc;
  transition: transform 0.2s ease;
}

body:active c-cursor::after {
  transform: scale3d(0.66, 0.66, 1);
}

c-cursor[clickable]::after {
  transform: scale3d(2.5, 2.5, 1);
}

body:active c-cursor[clickable]::after {
  transition-duration: 0.1s;
  transform: scale3d(1.5, 1.5, 1);
}

/* 3d scene */

c-scene {
  width: 576px;
  height: 740px;
  perspective: 1024px;
}

c-room {
  will-change: transform;
  width: 1024px;
  height: 576px;
  backface-visibility: visible;
  transform-style: preserve-3d;
  /* initial transform setting */
  transform: translate3d(0, 0, -864px) rotate3d(0, 1, 0, 90deg);
}

c-room.hide-backface {
  backface-visibility: hidden;
}

nav {
  contain: layout;
  inset: auto 384px 160px 384px;
  display: flex;
  gap: 24px;
  justify-content: center;
  transform-style: preserve-3d;
  transform: rotateY(-90deg) translateZ(512px);
}

button {
  contain: layout;
  position: relative;
  padding: 12px 18px;
  border-radius: 32px;
  background-color: transparent;
  color: transparent;
  border: none;
  font-family: inherit;
  font-size: 18px;
  line-height: 120%;
  text-transform: lowercase;
  letter-spacing: 0.05em;
  transform-style: preserve-3d;
  box-shadow: inset 0 0.5px 0 1px var(--acc);
  transition: transform 0.25s ease, box-shadow var(--mode-swap),
    color var(--mode-swap), background-color var(--mode-swap);
  cursor: none !important;
}

button:focus {
  border: none;
  outline: none;
}

.light-mode button {
  box-shadow: inset 0 -0.5px 0 1px var(--acc);
}

button::before {
  will-change: transform;
  background-color: var(--acc);
  border-radius: 32px;
  transition: transform 0.3s ease, background-color var(--mode-swap),
    color var(--mode-swap);
  transform: scale3d(0, 0, 1);
}

button.hover::before {
  transform: scale3d(1, 1, 1);
}

button::after {
  content: attr(data-text);
  will-change: filter, opacity;
  padding: inherit;
  color: var(--acc);
  filter: invert(0);
  transform: translate3d(0, -4px, 32px);
  transition: filter 0.25s ease, color var(--mode-swap);
}

button.hover::after {
  filter: invert(1);
}

nav.hide button {
  transform: scale3d(0, 0, 0);
}

nav.remove {
  transform-style: flat;
  visibility: hidden;
  display: none;
}

nav.remove button {
  transform-style: flat;
}

header {
  contain: layout;
  inset: 144px 0 auto 0;
  text-align: center;
  transform: rotateY(-90deg) translateZ(-768px);
  transition: color var(--mode-swap);
}

h1,
h2,
li {
  margin: 0;
  text-transform: lowercase;
}

h1,
li {
  font-family: "Unbounded";
}

h1 {
  font-size: 110px;
  font-weight: 400;
}

h2 {
  font-size: 50px;
  font-weight: 300;
  letter-spacing: 0.02em;
}

main {
  transform: translateZ(-512px);
}

c-screen {
  inset: 8px;
  width: 1008px;
  height: 560px;
  border-radius: 12px;
}

c-reflection {
  filter: blur(4px) opacity(0.6);
  transform: translate3d(0, 0, 0);
  inset: 584px auto auto 8px;
  width: 1008px;
  height: 216px;
}

.performance-mode c-reflection {
  display: none;
}

c-reflection::before,
c-reflection::after {
  z-index: 1;
  transition: opacity var(--mode-swap);
}

c-reflection::before {
  opacity: 1;
  background: linear-gradient(to top, #131313, transparent);
}

c-reflection::after {
  opacity: 0;
  background: linear-gradient(to top, #ccc, transparent);
}

.light-mode c-reflection::before {
  opacity: 0;
}

.light-mode c-reflection::after {
  opacity: 1;
}

c-screen[reflection] {
  transform: scaleY(-1);
}

/* inside screen */

c-screen::before {
  inset: 0 auto auto 0;
  width: 2016px;
  height: 1120px;
  background: linear-gradient(to bottom right, orangered, magenta, orange);
  background-size: 2016px 1120px;
  transform: translate3d(0, 0, 0);
  transition: transform var(--mode-swap);
}

.light-mode c-screen::before {
  transform: translate3d(-1008px, -560px, 0);
}

ul {
  will-change: scroll-position;
  --gap: 34px;
  margin: 0;
  padding: 0;
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap);
  color: var(--acc);
  transition: color var(--mode-swap);
}

li {
  contain: content;
  margin: 0;
  font-size: 40px;
  font-weight: 300;
  line-height: 48px;
  transform-origin: left;
  transform: translate3d(-2px, 0, 0);
  transition: transform 0.15s ease;
}

li::marker {
  content: none;
}

li::after {
  content: attr(data-text);
  will-change: opacity;
  inset: 0;
  color: var(--bgr);
  transition: color var(--mode-swap);
  opacity: 0;
}

li.hover {
  transform: translate3d(2px, 0, 0);
}

li.hover::after {
  opacity: 1;
}

li:first-child {
  margin-top: var(--gap);
}

h4 {
  position: fixed;
  top: 64px;
  left: 50%;
}

/* footer */

footer {
  contain: layout;
  inset: auto 16px 16px 16px;
  display: flex;
  align-items: center;
  gap: 24px;
  font-size: 14px;
  letter-spacing: 0.05em;
  line-height: 110%;
  text-transform: lowercase;
  color: var(--accent);
  transition: color var(--mode-swap);
}

footer span {
  margin-right: auto;
}

c-control {
  will-change: opacity;
  transition: opacity 0.35s ease;
  transform: translate3d(0, 0, 0);
}

c-control[hide] {
  opacity: 0;
}

c-control::before {
  content: attr(aria-label);
  inset: auto 0 calc(100% + 8px) auto;
  width: calc(100% + 48px);
  padding: 6px 8px 8px 8px;
  background-color: var(--bgr);
  border: 0.25px solid;
  border-color: inherit;
  border-radius: 8px 8px 0 8px;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.025em;
  opacity: 0;
  transform: translate3d(0, 4px, 0);
  transition: opacity 0.15s ease, transform 0.25s ease,
    background-color var(--mode-swap);
}

c-control:hover::before {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

c-control::after {
  content: attr(data-key);
  margin-left: 0.4em;
  display: inline-flex;
  justify-content: center;
  padding: 4px 8px;
  border: 1px solid;
  border-color: inherit;
  border-radius: 4px;
  min-width: 2em;
}

footer:hover > c-control:not(:hover):not([hide]) {
  opacity: 0.5;
}
