@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap");

:root {
  --mode-swap-ease: ease-in-out;
  --mode-swap-timing: 0.5s;
  --void: #111;
  --accent: #ccc;
  --screen: #222;
  --screen-on: #111;
}

* {
  box-sizing: border-box;
  backface-visibility: hidden;
  cursor: none !important;
}

html,
body {
  height: 100dvh;
  background-color: var(--void);
  transition: background-color var(--mode-swap-timing) var(--mode-swap-ease);
  overscroll-behavior: none;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: "Manrope";
  text-rendering: optimizeSpeed;
  user-select: none;
  transform: translate3d(0, 0, 0);
}

body.light-mode {
  --void: #ccc;
  --accent: #151515;
  --screen: #eee;
  --screen-on: #fafafa;
}

c-cursor,
c-scene,
c-room,
c-plane,
c-screen,
c-grid,
c-cell {
  display: block;
}

@keyframes noise {
  0% {
    transform: translate3d(-15%, -20%, 0);
  }
  50% {
    transform: translate3d(-60%, -40%, 0);
  }
  75% {
    transform: translate3d(0%, -75%, 0);
  }
  100% {
    transform: translate3d(-50%, -10%, 0);
  }
}

c-noise {
  contain: strict;
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  background-image: url("images/noise_overlay.webp");
  background-size: 12.5% auto;
  height: 400%;
  animation: 0.5s noise steps(4) infinite;
  z-index: 1000;
  pointer-events: none;
  will-change: transform;
}

c-overlay {
  contain: strict;
  will-change: opacity;
  position: fixed;
  inset: 0;
  z-index: 100;
  width: 100%;
  height: 100dvh;
  background-color: var(--void);
  transition: opacity 1s ease 0.5s;
  pointer-events: auto;
}

c-overlay.reveal {
  opacity: 0;
  pointer-events: none;
}

c-hud {
  contain: layout paint;
  mix-blend-mode: exclusion;
  color: #ccc;
  padding: 16px;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 50;
  display: flex;
  gap: 24px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.05em;
}

c-hud span {
  will-change: opacity;
  transition: opacity 0.5s ease;
  line-height: 100%;
}

c-hud span.hide {
  opacity: 0;
}

c-hud .key {
  margin-left: 0.5em;
  display: inline-flex;
  justify-content: center;
  padding: 4px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  min-width: 2em;
}

c-cursor {
  contain: layout size;
  will-change: transform, opacity;
  position: absolute;
  inset: 0;
  width: 8px;
  height: 8px;
  mix-blend-mode: exclusion;
  pointer-events: none;
  opacity: 0;
}

c-cursor::after {
  content: "";
  contain: strict;
  width: inherit;
  height: inherit;
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background-color: #ccc;
  transition: transform 0.2s ease;
  will-change: transform;
}

body:active c-cursor::after {
  transform: scale3d(0.66, 0.66, 1);
}

c-cursor[clickable]::after {
  transform: scale3d(2.5, 2.5, 1);
}

body:active c-cursor[clickable]::after {
  transform: scale3d(1.5, 1.5, 1);
}

/* 3D SCENE */

main {
  contain: strict;
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  perspective: 1024px;
  transform-style: flat;
  pointer-events: none;
}

c-scene {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 576px;
  height: 676px;
  transform-style: preserve-3d;
}

c-buttons {
  contain: layout;
  will-change: visibility;
  position: absolute;
  left: 50%;
  bottom: 64px;
  display: flex;
  transform: translate(-50%, 0);
  transform-style: preserve-3d;
  gap: 24px;
  transition: visibility 0s linear 0.25s;
}

c-buttons[hide] {
  visibility: hidden;
}

c-buttons::after {
  content: "";
  will-change: opacity;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  transform: translate3d(0, 0, 36px) scale(1.5);
  background-color: var(--void);
  opacity: 0;
  transition: opacity 0.25s ease,
    background-color var(--mode-swap-timing) var(--mode-swap-ease);
}

c-buttons[hide]::after {
  opacity: 1;
}

c-buttons button {
  contain: layout;
  padding: 12px 18px;
  pointer-events: auto;
  position: relative;
  border-radius: 32px;
  box-shadow: inset 0 0.45px 0 0.75px var(--accent);
  background-color: transparent;
  color: transparent;
  border: none;
  font-size: 18px;
  line-height: 120%;
  font-weight: 400;
  font-family: inherit;
  text-transform: lowercase;
  letter-spacing: 0.05em;
  transform-style: preserve-3d;
  transition: box-shadow var(--mode-swap-timing) var(--mode-swap-ease),
    color var(--mode-swap-timing) var(--mode-swap-ease),
    background-color var(--mode-swap-timing) var(--mode-swap-ease);
  cursor: none;
}

c-buttons button:focus {
  border: none !important;
  outline: none !important;
}

.light-mode c-buttons button {
  box-shadow: inset 0 -0.5px 0 0.75px var(--accent);
}

c-buttons button::before {
  content: "";
  will-change: transform;
  position: absolute;
  inset: 0;
  background-color: var(--accent);
  border-radius: 32px;
  transition: transform 0.3s ease,
    background-color var(--mode-swap-timing) var(--mode-swap-ease),
    color var(--mode-swap-timing) var(--mode-swap-ease);
  transform: scale(0);
}

c-buttons button.hover::before {
  transform: scale(1);
}

c-buttons button::after {
  content: attr(data-text);
  will-change: filter;
  box-sizing: border-box;
  position: absolute;
  inset: 0;
  padding: inherit;
  color: var(--accent);
  transition: filter 0.25s ease,
    color var(--mode-swap-timing) var(--mode-swap-ease);
  transform: translate3d(0, -6px, 32px);
  filter: invert(0);
  pointer-events: none;
}

c-buttons button.hover::after {
  filter: invert(1);
}

c-room {
  contain: layout size;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 1024px;
  height: 576px;
  position: relative;
  transform-style: preserve-3d;
  transform-origin: center center;
  backface-visibility: visible;
}

c-plane {
  contain: layout size;
  width: 1024px;
  height: 576px;
  position: absolute;
  inset: 0;
  transform-style: flat;
}

c-plane[back] {
  transform: translateZ(-512px);
}

c-plane[outer] {
  transform: rotateY(-90deg) translateZ(512px);
  transform-style: preserve-3d;
}

c-plane[right] {
  transform: rotateY(-90deg) translateZ(-1024px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 128px;
  align-items: center;
  color: var(--accent);
  transition: color var(--mode-swap-timing) var(--mode-swap-ease);
}

h1,
h2 {
  white-space: nowrap;
  position: relative;
  text-transform: lowercase;
}

h1 {
  font-family: "Unbounded";
  font-weight: 400;
  font-size: 128px;
  margin: 0;
}

h2 {
  font-weight: 300;
  letter-spacing: 0.02em;
  font-size: 58px;
  margin: 0;
}

c-screen {
  contain: strict;
  position: absolute;
  inset: 8px;
  width: 1008px;
  height: 560px;
  border-radius: 8px;
  pointer-events: auto;
  transform-style: flat;
  overflow: hidden;
}

c-reflection {
  contain: strict;
  filter: blur(4px) opacity(0.6);
  position: absolute;
  top: 584px;
  left: 8px;
  width: 1008px;
  height: 560px;
}

c-reflection::before,
c-reflection::after {
  content: "";
  will-change: opacity;
  position: absolute;
  z-index: 1;
  inset: 0;
  width: 1008px;
  height: 560px;
  transition: opacity var(--mode-swap-timing) var(--mode-swap-ease);
}

c-reflection::before {
  opacity: 1;
  background: linear-gradient(to top, #111 50%, transparent);
}

c-reflection::after {
  opacity: 0;
  background: linear-gradient(to top, #ccc 50%, transparent);
}

.light-mode c-reflection::before {
  opacity: 0;
}

.light-mode c-reflection::after {
  opacity: 1;
}

c-screen[reflection] {
  pointer-events: none;
  position: absolute;
  inset: 0;
  transform: scaleY(-1);
}

/* INSIDE SCREEN */

c-gradient {
  contain: strict;
  position: absolute;
  inset: 0;
  width: 2016px;
  height: 1120px;
  background: linear-gradient(to bottom right, red, magenta, orange);
  transform: translate3d(0, 0, 0);
  transition: transform var(--mode-swap-timing) var(--mode-swap-ease);
}

.light-mode c-gradient {
  transform: translate3d(-50%, -50%, 0);
}

c-list {
  --gap: 48px;
  contain: strict;
  position: absolute;
  inset: 0;
  width: 1008px;
  height: 560px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap);
  color: var(--accent);
  transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  transition: color var(--mode-swap-timing) var(--mode-swap-ease);
  overflow: hidden;
}

c-list h3 {
  contain: paint, layout;
  will-change: transform;
  position: relative;
  font-family: "Unbounded";
  margin: 0;
  padding-left: 16px;
  text-transform: lowercase;
  font-size: 40px;
  font-weight: 300;
  line-height: 48px;
  transform-origin: left;
  transform: translate3d(-19px, 0, 0) scale3d(1, 1, 1);
  transition: transform 0.25s ease;
  opacity: 1;
}

c-list h3.hide {
  transform: translate3d(-19px, 0, 0) scale3d(0, 0, 1);
}

c-list h3::after {
  content: attr(data-text);
  will-change: opacity;
  position: absolute;
  padding: inherit;
  inset: 0;
  opacity: 0;
  color: var(--void);
}

c-list h3.hover {
  transform: translate3d(-10px, 0, 0) scale3d(1, 1, 1);
}

c-list h3.hover::after {
  opacity: 1;
}

c-list h3:last-child {
  margin-bottom: var(--gap);
}
