@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap");

:root {
  --mode-swap-ease: ease-in-out;
}

* {
  box-sizing: border-box;
  backface-visibility: hidden;
}

html {
  image-rendering: pixelated;
}

html,
body {
  height: 100%;
}

body {
  --void: #101010;
  --accent: #ccc;

  margin: 0;
  background-color: var(--void);
  font-family: "Manrope";
  overscroll-behavior: none;
  overflow: hidden;
  user-select: none;
  cursor: none;
  transition: background-color 0.5s var(--mode-swap-ease);
}

body.light-mode {
  --void: #ccc;
  --accent: #101010;
}

#overlay {
  position: absolute;
  inset: 0;
  z-index: 100;
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: var(--void);
  transition: opacity 1s ease 0.5s;
  pointer-events: auto;
}

#overlay.reveal {
  opacity: 0;
  pointer-events: none;
}

#hud {
  mix-blend-mode: exclusion;
  color: #ccc;
  padding: 16px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 50;
  display: flex;
  gap: 32px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.05em;
}

/* 3D SCENE */

#wrapper {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1024px;
  transform-style: flat;
  pointer-events: none;
}

#scene {
  width: 576px;
  height: 676px;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
}

#room {
  position: relative;
  width: 1024px;
  height: 576px;
  position: relative;
  transform-style: preserve-3d;
  transform-origin: center center;
  transform: translate3d(0, 0, 512px) rotateX(0deg) rotateY(0deg);
  flex-shrink: 0;
  backface-visibility: visible;
}

.side {
  width: 1024px;
  height: 576px;
  position: absolute;
  inset: 0;
  transform-style: flat;
}

.side.back {
  transform: translate3d(0, 0, -512px);
}

.side.outer {
  transform: rotateY(-90deg) translate3d(0, 0, 512px);
  transform-style: preserve-3d;
}

#buttons-row {
  position: absolute;
  left: 50%;
  bottom: 32px;
  transform: translate3d(-50%, 0, 0);
  transform-style: preserve-3d;
  display: flex;
  gap: 24px;
  transition: visibility 0s linear 0.5s;
}

#buttons-row.hide {
  visibility: hidden;
}

#buttons-row::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  transform: translate3d(0, 0, 36px) scale(1.5);
  background-color: var(--void);
  opacity: 0;
  transition: opacity 0.25s ease, background-color 0.5s var(--mode-swap-ease);
}

#buttons-row.hide::after {
  opacity: 1;
}

.button {
  pointer-events: auto;
  position: relative;
  padding: 12px 18px;
  border-radius: 32px;
  border: 1px solid var(--accent);
  color: var(--accent);
  font-size: 20px;
  line-height: 120%;
  font-weight: 400;
  letter-spacing: 0.05em;
  transform-style: preserve-3d;
  transition: border-color 0.5s var(--mode-swap-ease),
    color 0.5s var(--mode-swap-ease);
}

.button::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent);
  border-radius: 32px;
  transition: clip-path 0.25s ease;
  clip-path: inset(100% 0 0 0);
  opacity: 0.1;
}

.button.hover::after {
  clip-path: inset(0 0 0 0);
}

.button div {
  transform: translate3d(0, -6px, 32px);
}

.side.right {
  transform: rotateY(-90deg) translate3d(0, 0, -1024px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--accent);
  transition: color 0.5s var(--mode-swap-ease);
}

.light-mode .side.right .content {
  color: rgba(20, 20, 20, 1);
}

.side.right h1,
.side.right h2 {
  white-space: nowrap;
}

.side.right h1 {
  font-family: "Unbounded";
  font-weight: 400;
  font-size: 128px;
  margin: 0;
}

.side.right h2 {
  font-weight: 300;
  letter-spacing: 0.02em;
  font-size: 58px;
  margin: 0;
}

.screen {
  position: absolute;
  inset: 32px;
  width: 960px;
  height: 512px;
  background-color: var(--accent);
  overflow: hidden;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  pointer-events: auto;
  transform-style: flat;
  transition: background-color 0.5s var(--mode-swap-ease);
}

#reflection-wrapper {
  filter: blur(8px);
  position: absolute;
  top: 608px;
  left: 32px;
  width: 960px;
  height: 512px;
  opacity: 0.45;
}

.reflection {
  pointer-events: none;
  position: absolute;
  inset: 0;
  width: 960px;
  height: 512px;
  transform: scaleY(-1);
  mask-image: linear-gradient(to top, black, transparent, transparent);
  -webkit-mask-image: linear-gradient(to top, black, transparent, transparent);
}

#cursor {
  position: absolute;
  inset: 0;
  width: 6px;
  height: 6px;
  mix-blend-mode: exclusion;
  z-index: 1000;
  pointer-events: none;
  visibility: hidden;
}

#cursor::after {
  content: "";
  width: inherit;
  height: inherit;
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background-color: #ccc;
  transition: 0.2s ease transform;
}

body:active #cursor::after {
  transform: scale(0.66);
}

#cursor.clickable::after {
  transform: scale(1.33);
}

body:active #cursor.clickable::after {
  transform: scale(1);
}

/* INSIDE SCREEN */

.screen .inner {
  display: flex;
  width: 100%;
  height: 100%;
}

.screen .inner .column {
  width: 33.33%;
  height: 100%;
  transition: 0.25s ease background-color;
}

.screen .inner .column.hover {
  background-color: #aaa;
}

.screen .inner .red {
  background-color: red !important;
}
